
.textarea {
    min-width: 400px;
    max-width: 400px;
    min-height: 540px;
    background-color: #F8FFFF;
    padding: 20px;
}

#markdown {
    display: inline-block;
    float: left;
    margin-bottom: 20px;
    margin-left: 5%;
}
#preview {
    color: white;
    min-width: 400px;
    max-width: 400px;
    min-height: 400px;
    margin-left: 5%;
    display: inline-block;;
    float:left;
    padding: 20px;
    background-color: #F8FFFF;
    color: #444;
}
#heading {
    text-align: center;
    color: #F8FFFF;
    letter-spacing: 2px;
}
