/* color: #E8FFFF */

.textarea {
    min-width: 600px;
    max-width: 600px;
    min-height: 400px;
    background-color: #E8FFFF;
    padding: 20px;
}
.preview {
    color: white;
    min-width: 600px;
    max-width: 600px;
    min-height: 400px;
}

#markdown {
    float: left;
    margin-left: 5%;
    margin-bottom: 20px;
}
#preview {
    float:left;
    margin-left: 5%;
    padding: 20px;
    background-color: #E8FFFF;
    color: #444;
}
#heading {
    text-align: center;
    color: #E8FFFF;
}
#app {

}
