
#textarea {
    padding: 20px;
    resize: vertical;
    height: 100%;
}
#preview {
    color: white;
    padding: 20px;
    background-color: #F8FFFF;
    color: #444;
    text-align: left;
}
#enclosingPreview {
    width: 450px;
}
#heading {
    text-align: center;
    color: #F8FFFF;
    letter-spacing: 2px;
}
.miniHeaders {
    color: #F8FFFF;
}
